<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/js/sidebar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=60eb995f9804b50019092205&product=inline-share-buttons" async="async"></script>
    <script type="text/javascript" src="https://flashphoner.com/downloads/builds/flashphoner_client/wcs_api-2.0/current/flashphoner.js"></script>
    <script type="text/javascript" src="screen-sharing-min.js"></script>
    <script>
        const ROOM_ID="<%= roomId2 %>";
    </script>
    
</head>
<body>
    <div class="navbar">
        <button type="button" class="btn btn-light" id="name"><i class="fa fa-fw fa-comments"></i>Chat</button>
        <input type = "text" id="user" name = "name" value = "" placeholder = "Enter your name!">
        


        <div class="topnav-right">
            
            <button type="button" class="btn btn-light"   id="main__mute_button"   onclick="muteUnmute()"> <i class="fa fa-fw fa-microphone"></i>Microphone</button>
            <button type="button" class="btn btn-light"   id="main__video_button"  onclick="playStop()">   <i class="fa fa-fw fa-camera">    </i>Video     </button>

            <button type="button" class="btn btn-danger" id="endcall"><span>End Call</span></button>
        </div>
    </div>

    <div id="flexy">
    <div class="main__right" style="overflow-y: scroll;">
        <div class="main__header">
        <h6  style="size: 1000px;">Chat</h6>
        </div>
        <div class="main__chat_window">
           <ul class="messages">
              
           </ul>
        </div>
        <div class="main__message_container">
           <input id="chat_message" type="text" placeholder="Type message here...">
        </div>
     </div>


    <div class="main">
        <div class="main__left">
            <div class="main__videos">
                <div id='video-grid'>

                </div>
            </div>
        </div>
    </div>
    </div>

        <div class="sharethis-inline-share-buttons" style=" position: fixed; bottom: 0; right: 0;"></div>


    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/js/script.js"></script>
    <!-- <script src="/js/additional.js"></script> -->
</body>
</html>